<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Welcome Page</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <section id="login" class=" h-full relative">
        <div class="img"><img class="w-screen h-screen" th:src="@{/images/loginregister.jpg}" alt=""></div>
        <div id="login" class="welcome text-center text-white w-max lg:p-9 md:p-6 sm:p-3 rounded-3xl absolute top-[50%] left-[50%] transform-[translate(-50%,-50%)]">
            <h2 class="text-5xl font-bold">Welcome, <span th:text="${user}">User</span></h2>
            <p class="text-xl py-5 text-green-400">You have successfully Logged in...</p>
            <p class="pt-4"><a id="Logout" th:href="@{/login}" class="bg-cyan-500 text-xl py-3 px-10 rounded-full cursor-pointer">Logout</a></p>
        </div>
    </section>
</body>

</html>
